extends layout

block content

  div(ng-app='whereIsCaioKF')
    div(ng-controller='AppController' ng-cloak)
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            a.navbar-brand(href='/')
              i.icon-globe
              | Where in the world is&nbsp;
              b CaioKF ?
            div.current-location(ng-hide='!showCurrentLocationInfo()')
              span.description
                | Currently in: {{current().description}}
              span.weather
                i(class="ywicon wi-yw-{{weather.code}}")&nbsp;
                | {{weather.temperature}}&deg;C&nbsp; {{weather.condition}}
              span.last-updated
                | Last Updated: {{lastUpdatedDate()}}
        div.timeline-scroll
          slider#timeline(min='{{timeline.range.min}}', max='{{timeline.range.max}}', start='{{timeline.start}}', ng-model='timelineSelectedDate')
          div.slider-title slide me to see some movement

      .container-fluid
        map#itinerary-map(street-view-control='false', map-type-control='false', zoom='3' center="59, 14")
          marker(
            id='marker-{{$index}}', 
            ng-repeat='item in itinerary track by $index', 
            position='{{item.latLng}}', 
            title='{{item.description}}',
            on-click='showInfo(event, item.description)',
            icon='{{mapIcon($index)}}',
            visible='{{showMarkers($index)}}'
          )
          shape(name='polyline' path="{{routePolylinePath($index)}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2")
          info-window(id='info')
            div {{infoWindowContent}}