extends layout

block content

  div(ng-app='whereIsCaioKF')
    div(ng-controller='AppController' ng-cloak)
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Where in the world is CaioKF ?
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              i.icon-globe
              | Where in the world is&nbsp;
              b CaioKF ?
            div.current-location(ng-hide='!showCurrentLocationInfo()')
              span.description
                | Currently in: {{current.description}}
              span.weather
                i(class="ywicon wi-yw-{{weather.code}}")&nbsp;
                | {{weather.temperature}}C  - {{weather.condition}}

      .container-fluid
        map#itinerary-map(street-view-control='false', map-type-control='false', zoom='3' center="17, 5")
          marker(
            id='marker-{{$index}}', 
            ng-repeat='item in itinerary track by $index', 
            position='{{item.latLng}}', 
            title='{{item.description}}',
            on-click='showInfo(event, item.description)',
            icon='{{mapIcon($index)}}',
            visible='{{showMarkers()}}'
          )
          shape(name='polyline' path="{{routePolylinePath()}}" geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="2")
          info-window(id='info')
            div {{info}}